@tailwind base;
@tailwind components;
@tailwind utilities;
@import "scss/variables";
// @import "scss/mixins";
// @import "scss/reset";
// @import "scss/typography";
// @import "scss/ui-elements";
// @import "scss/layout";
@import "scss/home.module.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
