// colors
$brand-color: #d90429; // red brand color
$brand-second-color: #2b2d42; // dark brand color
$brand-third-color: #edf2f4; // brand grey color

$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: #f3f3f7; // light grey

$text-color: #2b2d42;
