%sweep-btn {
  display: block;
  position: relative;
  background: none;
  color: $white-color;
  z-index: 0;
  padding: 12px 45px;
  text-transform: uppercase;
  border: 2px solid $white-color;
  overflow: hidden;
  font-size: 25px;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white-color;
    color: $brand-color;

    @include transform(scaleX(0));
    @include transition(transform 0.6s ease-out);
  }
  &:hover {
    color: $brand-color;
    box-shadow: 0px 2px 5px rgba($black-color, 0.3);
  }

  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.sweep-btn--right {
  @extend %sweep-btn;
  &:before {
    transform-origin: 100% 50%;
  }
}

.sweep-btn--left {
  @extend %sweep-btn;
  &:before {
    transform-origin: -100% 50%;
  }
}

.sweep-btn--center {
  @extend %sweep-btn;
  &:before {
    transform-origin: 50% 50%;
  }
}

.link__button {
  position: relative;
  padding: 19px 24px;
  width: fit-content;
  transition: all 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($brand-color, 0.2);
    width: 56px;
    height: 56px;
    transition: all 0.5s ease;
  }
  span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    color: $white-color;
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $white-color;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.5s ease;
  }
  &:hover {
    &:before {
      width: 100%;
      background: rgba($brand-color, 1);
    }
    svg {
      transform: translateX(0);
    }
    &:active {
      transform: scale(0.96);
    }
  }
}

/* hover styles */
.sliding-underline-link {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #e4eaec;
    transform-origin: bottom center;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $brand-color;
    transform-origin: bottom center;
    @include transition(transform 0.4s);
    @include transform(scaleX(0));
  }
  &:hover {
    color: $brand-color !important;
    &:after {
      transform-origin: bottom center;
      @include transform(scaleX(1));
    }
  }
}

.heading__small{
  text-align: center;
  color: $brand-color;
  @include margin(0, 0, 20px, 0);
  font-size: 40px;
  position: relative;

  @include breakpoint(sm) {
    font-size: 30px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 50px;
    content: "";
    background: $brand-color;
    height: 2px;
    width: 45px;
    margin: auto;
    right: 0;
  }
}

.heading__text-reveal {
  position: relative;
  overflow: hidden;
  width: fit-content;

  h1 {
    animation: fadeIn 0s 0.6s;
    text-align: center;
    margin: 0;
    position: relative;
    font-size: 50px;
    color: $white-color;
    text-transform: capitalize;
    animation-fill-mode: backwards;

    @include breakpoint(sm) {
      font-size: 35px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: fit-content;
    height: 100%;
    width: 100%;
    background: $white-color;
    transform: translateX(-100%);
    animation: secondaryImageOverlayIn 0.6s 0s, secondaryImageOverlayOut 0.6s 0.6s;
    animation-fill-mode: both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secondaryImageOverlayIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes secondaryImageOverlayOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.button__cta {
  display: inline-block;
  color: $brand-color;
  position: relative;

  .anchor__inner {
    display: inline-block;
    position: relative;
    width: fit-content;
    text-align: right;
    font-size: 20px;

    &:after {
      position: absolute;
      content: "";
      border-right: 2px solid $brand-color;
      border-top: 2px solid $brand-color;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      top: 12px;
      right: -28px;
      @include transition(all 0.5s ease);
    }
    &:before {
      content: "";
      position: absolute;
      height: 35px;
      width: 35px;
      right: -42px;
      border-radius: 100%;
      border: 2px solid $brand-color;
      top: 0;
      @include transition(all 0.5s ease);
    }
  }
  .ui-line {
    height: 1px;
    width: 0;
    background: $brand-color;
    display: inline-block;
    position: absolute;
    top: 19px;
    right: 3px;
    opacity: 0;
    @include transition(all 0.5s ease);
  }

  .button-text {
    @include transition(all 0.5s ease);
  }

  &:hover {
    .anchor__inner {
      &:after {
        border-right: 2px solid $white-color;
        border-top: 2px solid $white-color;
      }
      &:before {
        background: $brand-color;
      }
      .ui-line {
        opacity: 1;
        width: 20px;
      }
      .button-text {
        margin-right: 30px;
        color: $brand-color;
      }
    }
  }
}
